/* ======================================
|   |   |  Mobile Menu
========================================= */
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 50px;
    color: #000038;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 860px;
    top: 2px;
    
    /*Hide mobile nav open button*/
    display: none;
}

#mobile-nav {
    /*Mobile menu will be hidden by default with height 0%*/
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .98);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}
#mobile-nav-close-btn {
    font-family: "Plus Jakarta Sans", "Open Sans";
    font-size: 50px;
    color: #000038;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 35px;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav ul li {
    margin-bottom: 20px;
}
#mobile-nav a {
    font-family: "Plus Jakarta Sans", "Open Sans";
    font-size: 16px;
    color: #3D7A5B;
    font-weight: 400;
    text-transform: uppercase;
    display:inline;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #000038;
}


/*==========================================
|   |   Bootstrap 3 Media Queries
============================================*/
/*Extra large screen down to 4k*/
@media (min-width: 2561px) {
    /*background image*/
    #background_image img {
        width: 100%;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: -25px;
        left: 570px;
        text-decoration: none;
    } 

    #home {
        margin-bottom: 600px;
    }
}

/*Large screens*/
@media (max-width: 2560px) {
    /*background image*/
    #background_image img {
        width: 100%;
    }
    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: -25px;
        left: 570px;
        text-decoration: none;
    } 

    #home {
        margin-bottom: 600px;
    }
}

/* Between Large Laptops and Laptops screens ----------- */
@media (max-width : 1300px) {
    /*Home page*/
    #home {
        height: 600px;
    }

    .home-screen h1 {
        position: relative;
        left: 160px;
        width: 800px;
        font-size: 50px;
    }
    .home-screen p {
        position: relative;
        left: 160px;
        width: 800px;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/
}

/* Between screens ----------- */
@media (min-width: 1200px) and (max-width: 1260px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 25px;
    }

    .home-screen h1 {
        left: 200px;
        font-size: 45px;
        font-weight: 800;
    }
    .home-screen p {
        top: 490px;
        left: 200px;
        width: 700px;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -450px;
        height: 600px;
        margin-bottom: -380px;
    }

    #about1_image .front {
        position: relative;
        top: -5px;
        left: 30px;
        width: 550px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -40px;
        left: 20px;
        font-size: 45px;
        line-height: 60px;
    }

    #about1_text p {
        position: relative;
        top: -50px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 530px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -70px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: -5px;
        left: 30px;
        z-index: 1;
        width: 550px;
    }

    #about2_text h2 {
        position: relative;
        top: -40px;
        left: 20px;
        font-size: 45px;
    }

    #about2_text p {
        position: relative;
        top: -50px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 530px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -70px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 160px;
        top: -20px;
        left: -20px;
    }

    .office {
        top: -5px;
        left: -20px;
    }

    .office-details {
        font-size: 16px;
        line-height: 35px;
        width: 850px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -30px;
        font-size: 16px;
        
    }

    .footer_icons {
        left:  -40px;
    }
} 

/* Between screens ----------- */
@media (min-width: 1100px) and (max-width: 1199px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 70px;
    }

    .home-screen h1 {
        left: 200px;
        font-size: 45px;
        font-weight: 800;
    }
    .home-screen p {
        top: 490px;
        left: 200px;
        width: 700px;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -450px;
        height: 600px;
        margin-bottom: -380px;
    }

    #about1_image .front {
        position: relative;
        top: -5px;
        left: -60px;
        width: 550px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -30px;
        left: 20px;
        font-size: 45px;
        line-height: 50px;
    }

    #about1_text p span {
        position: relative;
        top: 30px;
    }

    #about1_text p {
        position: relative;
        top: -40px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 500px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -60px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: -5px;
        left: -60px;
        z-index: 1;
        width: 550px;
    }

    #about2_text h2 {
        position: relative;
        top: -40px;
        left: 20px;
        font-size: 45px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -80px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 500px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -90px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 160px;
        top: -20px;
        left: -80px;
    }

    .office {
        top: -5px;
        left: -70px;
    }

    .office-details {
        font-size: 16px;
        line-height: 35px;
        width: 850px;
        text-align: justify;
    }

    .qrcode img {
        left: 340px;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -80px;
        font-size: 16px;
        
    }

    .footer_icons {
        left:  10px;
    }
} 

/* Between screens ----------- */
@media (min-width: 1024px) and (max-width: 1099px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 40px;
    }

    .home-screen h1 {
        left: 200px;
        font-size: 40px;
        font-weight: 800;
        line-height: 60px;
    }
    .home-screen p {
        top: 460px;
        left: 200px;
        width: 700px;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -550px;
        height: 600px;
        margin-bottom: -480px;
    }

    #about1_image .front {
        position: relative;
        top: -5px;
        left: -25px;
        width: 520px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -30px;
        left: 20px;
        font-size: 40px;
        line-height: 50px;
    }

    #about1_text p span {
        position: relative;
        top: 30px;
    }

    #about1_text p {
        position: relative;
        top: -40px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -60px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*=====================================
    |   |   | Stats
    =======================================*/
    #stats .vertical-heading h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
    }

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: -5px;
        left: -25px;
        z-index: 1;
        width: 520px;
    }

    #about2_text h2 {
        position: relative;
        top: -40px;
        left: 20px;
        font-size: 40px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -80px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
        line-height: 28px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -90px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 160px;
        top: -20px;
        left: -40px;
    }

    .office {
        top: -5px;
        left: -30px;
    }

    .office-details {
        font-size: 16px;
        line-height: 35px;
        width: 850px;
        text-align: justify;
    }

    .qrcode img {
        left: 300px;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -50px;
        font-size: 16px;
        
    }

    .footer_icons {
        left:  -30px;
    }
} 

/* Between screens ----------- */
@media (min-width: 992px) and (max-width: 1023px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 15px;
        padding: -5px 0;
    }

    ul.navbar-nav > li > a {
        font-size: 11px;
    }

    .get_touch_btn a {
        left: 570px;
    }   
    
    .navbar-brand img {
        width: 170px;
        top: -5px;
    }

    .home-screen h1 {
        left: 200px;
        font-size: 35px;
        font-weight: 800;
        line-height: 50px;
        width: 640px;
    }
    .home-screen p {
        top: 420px;
        left: 200px;
        width: 620px;
        font-size: 15px;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -580px;
        height: 600px;
        margin-bottom: -520px;
    }

    #about1_image .front {
        position: relative;
        top: -5px;
        left: -10px;
        width: 500px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -30px;
        left: 20px;
        font-size: 35px;
        line-height: 50px;
    }

    #about1_text p span {
        position: relative;
        top: 30px;
    }

    #about1_text p {
        position: relative;
        top: -60px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
        font-size: 15px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -80px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }


    /*Stats*/
    #stats .vertical-heading h2 {
        font-size: 35px;
    }
    
    #stats .vertical-heading p {
        font-size: 15px;
        /* line-height: 20px; */
    }

    .stats-item i {
        font-size: 35px;
    }
    
    .stats-item h3 {
        font-size: 35px;
    }
    
    .stats-item p {
        font-size: 15px;
    }    

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -150px;
    }

    #about2_image .front {
        position: relative;
        top: 5px;
        left: -10px;
        z-index: 1;
        width: 500px;
    }

    #about2_text h2 {
        position: relative;
        top: -40px;
        left: 20px;
        font-size: 40px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -80px;
        left: 20px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
        line-height: 28px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -90px;
        left: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 150px;
        top: -10px;
        left: -20px;
    }

    .office {
        top: 10px;
        left: -10px;
    }

    .office-details {
        font-size: 15px;
        line-height: 33px;
        width: 850px;
        text-align: justify;
    }

    .qrcode img {
        left: 300px;
        width: 180px;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -20px;
        font-size: 15px;
        
    }

    .footer_icons {
        left:  -60px;
        font-size: 20px;
    }
} 

/* Between is for close to tablets ----------- */
@media (min-width: 846px) and (max-width: 991px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 55px;
        padding: -10px 0;
    }

    ul.navbar-nav > li > a {
        font-size: 10px;
    }

    .get_touch_btn a {
        left: 580px;
        font-size: 10px;
    }   
    
    .navbar-brand img {
        width: 160px;
        top: -5px;
    }

    .home-screen h1 {
        top: 490px;
        left: 150px;
        font-size: 35px;
        width: 500px;
        line-height: 45px;
    }
    .home-screen p {
        top: 390px;
        left: 150px;
        width: 500px;
        font-size: 14px;
        text-align: justify;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/


    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -680px;
        height: 600px;
        margin-bottom: -660px;
    }

    #about1_image .front {
        position: relative;
        top: 30px;
        left: -50px;
        width: 420px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -290px;
        left: 380px;
        font-size: 30px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 30px;
    }

    #about1_text p {
        position: relative;
        top: -330px;
        left: 380px;
        padding-bottom: 10px;
        text-align: justify;
        width: 380px;
        font-size: 14px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -340px;
        left: 380px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Stats*/
    #stats .first_stats {
        height: 100px;
        width: 270px;
        left: -40px;
    }

    #stats .second_stats {
        height: 100px;
        width: 270px;
        left: -25px;
    }

    #stats .third_stats {
        height: 100px;
        width: 270px;
        left: 530px;
        top: -100px;
    }

    #stats .vertical-heading h2 {
        font-size: 30px;

    }
    
    #stats .vertical-heading p {
        font-size: 14px;
    }

    .stats-item i {
        font-size: 35px;
    }
    
    .stats-item h3 {
        font-size: 30px;
    }
    
    .stats-item p {
        font-size: 14px;
    }    

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -150px;
    }

    #about2_image .front {
        position: relative;
        top: 30px;
        left: -50px;
        width: 420px;
        z-index: 1;
    }

    #about2_text h2 {
        position: relative;
        top: -310px;
        left: 380px;
        font-size: 30px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -360px;
        left: 380px;
        padding-bottom: 10px;
        text-align: justify;
        width: 380px;
        font-size: 14px;
        line-height: 28px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -370px;
        left: 380px;
        margin-top: 30px;
        text-decoration: none;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 190px;
        top: -45px;
        left: -60px;
    }

    .office {
        top: -20px;
        left: -60px;
    }

    .office-details {
        font-size: 14px;
        line-height: 33px;
        width: 550px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 14px;
        left: -60px;
        font-size: 15px;
        
    }

    .footer_icons {
        left:  50px;
        font-size: 20px;
    }
} 

/* Between is for close to tablets ----------- */
@media (min-width: 768px) and (max-width: 845px) {
    /*Home section*/
    .nav {
        position: relative;
        left: 10px;
        padding: -10px 0;
    }

    .navbar {
        padding: 5px 0;
    }

    ul.navbar-nav > li > a {
        font-size: 9px;
    }

    .navbar-brand img {
        width: 150px;
        top: 2px;
    }

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        left: 640px;
        font-size: 10px;
        padding: 10px;
    }  

    #home {
        height: 100%;
        width: 100%;
        margin-bottom: 780px;
    }

    #background_image img {
        visibility: hidden;
    }

    /*845 is landscape orientation screen size hence, I am using a medium picture of the home screen*/
    #background_image{
        position: absolute;
        background-image: url('../img/home_page/main_page_photo_medium.jpg');
        height: 100%;
        width: 100%;
    }

    .home-screen h1 {
        top: 490px;
        left: 180px;
        font-size: 35px;
        width: 550px;
        line-height: 45px;
    }
    .home-screen p {
        top: 340px;
        left: 180px;
        width: 500px;
        font-size: 14px;
        text-align: justify;
    }

    /* ======================================
    |  Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        visibility: hidden;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -760px;
        height: 600px;
        margin-bottom: -800px;
    }

    #about1_image .front {
        position: relative;
        top: 30px;
        left: -10px;
        width: 390px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -300px;
        left: 390px;
        font-size: 45px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 40px;
    }

    #about1_text p {
        position: relative;
        top: -340px;
        left: 390px;
        padding-bottom: 10px;
        text-align: justify;
        width: 340px;
        font-size: 14px;
        line-height: 30px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -360px;
        left: 390px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about1_text .about_btn a {
        font-size: 9px;
    }

    /*Stats*/
    #stats .first_stats {
        height: 100px;
        width: 270px;
        left: -20px;
    }

    #stats .second_stats {
        height: 100px;
        width: 270px;
        left: -30px;
    }

    #stats .third_stats {
        height: 100px;
        width: 270px;
        left: 500px;
        top: -100px;
    }

    #stats .vertical-heading h2 {
        font-size: 30px;
    }
    
    #stats .vertical-heading p {
        font-size: 14px;
    }

    .stats-item i {
        font-size: 35px;
    }
    
    .stats-item h3 {
        font-size: 30px;
    }
    
    .stats-item p {
        font-size: 14px;
    }    

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 600px;
        margin-bottom: -200px;
    }

    #about2_image .front {
        position: relative;
        top: 30px;
        left: -10px;
        z-index: 1;
        width: 390px;
    }

    #about2_text h2 {
        position: relative;
        top: -290px;
        left: 390px;
        font-size: 30px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -340px;
        left: 390px;
        padding-bottom: 10px;
        text-align: justify;
        width: 340px;
        line-height: 28px;
        font-size: 14px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -360px;
        left: 390px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about2_text .about_btn a {
        font-size: 9px;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 150px;
        top: -10px;
        left: -20px;
    }

    .office {
        top: 10px;
        left: -10px;
    }

    .office-details {
        font-size: 14px;
        line-height: 33px;
        width: 550px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 14px;
        left: -10px;
        font-size: 15px;
        
    }

    .footer_icons {
        left:  -20px;
        font-size: 20px;
    }

} 

/* Extra small Device (Landscape phones and Portrait Tablets) */
/*==============The below media query holds functions that runs for all medium screen 563 - 767px,
other intermediate screen after this for medium (tab and co) screen holds only essential breakpoints only*/
@media (min-width: 563px) and (max-width: 767px) {

    /*Navigation bar*/
    .navbar-brand {
        padding: 10px 10px;
    }

    .navbar-brand img {
        position: relative;
        top: -13px;
        left: -15px;
        width: 190px;
    }

    /*Hide Navigation menu for smaller devices to allow Mobile menu drop down button*/
    .navbar-nav {
        display: none;
    }

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 650px;
        top: 5px;
        font-size: 30px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 40px;
        position: relative;
        top: 1px;
        left: 670px;
    }

    #mobile-nav a {
        font-size: 18px;
    }

    /*Navigation bar*/
    .navbar {
        padding: 68x 0;
    }
    
    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: 20px;
        left: 730px;
        text-decoration: none;
    }  
    
    /*Home section*/
    #home {
        height: 100%;
        width: 100%;
        margin-bottom: 300px;
    }

    #background_image img {
        visibility: hidden;
    }

    /*767 is tablet screen size hence, I am using a medium picture of the home screen*/
    #background_image{
        position: absolute;
        background-image: url('../img/home_page/main_page_photo_medium.jpg');
        height: 100%;
        width: 100%;
        /* top: 80px; */
    }

    .home-screen h1 {
        position: relative;
        top: 690px;
        left: 190px;
        font-size: 50px;
        line-height: 70px;
        width: 550px;
    }

    .home-screen p {
        position: relative;
        top: 720px;
        left: 190px;
        font-size: 18px;
        line-height: 25px;
        width: 550px;
        text-align: justify;
    }

    /* ======================================
    |   |   |   Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        position: absolute;
        left: 50%;
        bottom: 3%;
        color: #fff;
        font-size: 45px;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-left: -16px;
        z-index: 3;
        visibility: visible;
    }

    #arrow-down:hover,
    #arrow-down:focus {
        color: #fff;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -260px;
        height: 900px;
        margin-bottom: -800px;
    }

    #about1_image .front {
        position: relative;
        top: 100px;
        left: 20px;
        width: 490px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -370px;
        left: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 40px;
    }

    #about1_text p {
        position: relative;
        top: -40px;
        left: 30px;
        padding-bottom: 10px;
        text-align: justify;
        width: 630px;
        font-size: 15px;
        line-height: 30px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -40px;
        left: 30px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about1_text .about_btn a {
        font-size: 13px;
    }

    /*Stats*/
    #stats {
        position: relative;
        top: 550px;
        height: 1500px;
    }

    #stats .content-box-md {
        height: 850px;
    }

    #stats .first_stats {
        height: 100px;
        width: 290px;
        top: -20px;
        left: 220px;
        padding: 20px;
    }

    #stats .second_stats {
        height: 100px;
        width: 290px;
        left: 220px;
        top: 100px;
        padding: 20px;
    }

    #stats .third_stats {
        height: 100px;
        width: 290px;
        left: 220px;
        top: 220px;
        padding: 20px;
    }

    #stats .vertical-heading h2 {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    
    #stats .vertical-heading p {
        font-size: 15px;
        line-height: 20px;
    }

    .stats-item i {
        font-size: 30px;
    }
    
    .stats-item h3 {
        font-size: 30px;
    }
    
    .stats-item p {
        font-size: 15px;
    }     

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 900px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: 90px;
        left: 20px;
        z-index: 1;
        width: 490px;
    }

    #about2_text h2 {
        position: relative;
        top: -350px;
        left: 20px;
        font-size: 40px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -20px;
        left: 30px;
        padding-bottom: 10px;
        text-align: justify;
        width: 630px;
        font-size: 15px;
        line-height: 30px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -20px;
        left: 30px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about2_text .about_btn a {
        font-size: 13px;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 190px;
        top: -30px;
        left: -5px;
    }

    .office {
        top: -15px;
        left: -5px;
    }

    .office-details {
        font-size: 15px;
        line-height: 33px;
        width: 580px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 14px;
        left: -5px;
        font-size: 15px;
        
    }

    .footer_icons {
        left:  -50px;
        font-size: 20px;
    }

    .btn-back-to-top {
        font-size: 20px;
        z-index: 1;
    }
}

/*==========Essential breakpoint for tab screen only===========*/
/* Extra small Device (Landscape phones and Portrait Tablets) */
    @media (min-width: 631px) and (max-width: 698px) {


    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 580px;
        top: 5px;
        font-size: 30px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 40px;
        position: relative;
        top: 1px;
        left: 610px;
    }

    /*===================================
    |  |  About Energy company
    ====================================*/

    #about1_text p {
        width: 570px;
    }

    /*Stats*/
    #stats .first_stats {
        left: 200px;
    }

    #stats .second_stats {
        left: 200px;
    }

    #stats .third_stats {
        left: 200px;
    }

    /*======About section 2 which is MILESTONE below stats====*/
    #about2_text p {
        width: 570px;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 190px;
        top: -10px;
        left: -5px;
    }

    .office {
        top: -5px;
        left: 5px;
    }

    .office-details {
        font-size: 15px;
        line-height: 33px;
        width: 550px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 14px;
        left: 5px;
        font-size: 15px;
        
    }

    .footer_icons {
        left:  -50px;
        font-size: 20px;
    }

    .btn-back-to-top {
        font-size: 20px;
        z-index: 1;
    }

}

/*==========Essential breakpoint for tab screen only===========*/
/* Extra small Device (Landscape phones and Portrait Tablets) */
/*==========Essential breakpoint for small screen only===========*/
@media (min-width: 563px) and (max-width: 630px) {

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 530px;
        top: 5px;
        font-size: 30px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 40px;
        position: relative;
        top: 1px;
        left: 540px;
    }

    /*===================================
    |  |  About Energy company
    ====================================*/

    #about1_text p {
        width: 500px;
    }

    /*Stats*/
    #stats .first_stats {
        left: 160px;
    }

    #stats .second_stats {
        left: 160px;
    }

    #stats .third_stats {
        left: 160px;
    }

    /*======About section 2 which is MILESTONE below stats====*/
    #about2_text p {
        width: 500px;
    }

    /*Contact*/
    
    .contact_logo {
        position: relative;
        width: 190px;
        top: -10px;
        left: -10px;
    }

    .office {
        top: 10px;
        left: -3px;
    }

    .office-details {
        font-size: 15px;
        line-height: 30px;
        width: 580px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 14px;
        left: -10px;
        font-size: 13px;
        
    }

    .footer_icons {
        left:  -50px;
        font-size: 18px;
    }

    .socials_icons {
        padding-left: 10px;
        padding-right: 10px;
    }
    

    .btn-back-to-top {
        font-size: 20px;
        z-index: 1;
    }

}


/*======================================================
========================================================
======================================================*/
/*The small home screen pics started from this screen size*/
/*==The below media query holds functions that runs for all medium screen 346 - 562px,
other intermediate screen after this for medium (tab and co) screen holds only essential breakpoints only*/
/* Extra small Device (Portrait phones and Smaller devices) */
@media (min-width: 346px) and (max-width: 562px) {

    /*Navigation bar*/
    .navbar-brand {
        padding: 10px 10px;
    }

    .navbar-brand img {
        position: relative;
        top: -5px;
        left: -15px;
        width: 120px;
    }

    /*Hide Navigation menu for smaller devices to allow Mobile menu drop down button*/
    .navbar-nav {
        display: none;
    }

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 430px;
        top: 5px;
        font-size: 25px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 35px;
        position: absolute;
        top: -2px;
        right: 13px;
    }

    #mobile-nav a {
        font-size: 13px;
    }

    /*Navigation bar*/
    .navbar {
        padding: 5px 0;
    }

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: 20px;
        left: 720px;
        text-decoration: none;
    }  

    /*Home section*/
    #home {
        height: 100%;
        width: 100%;
        margin-bottom: 300px;
    }

    #background_image img { 
        visibility: hidden;
    }

    /*481 is extra small screen hence, I am using the small picture of the home screen*/
    #background_image{
        background-image: url('../img/home_page/main_page_photo_small.jpg');
        height: 100%;
        width: 100%;
    }

    .home-screen h1 {
        position: relative;
        top: 580px;
        left: 175px;
        font-size: 30px;
        line-height: 50px;
        width: 450px;
        font-weight: 900;
    }

    .home-screen p {
        position: relative;
        top: 520px;
        left: 175px;
        font-size: 14px;
        line-height: 25px;
        width: 450px;
        text-align: justify;
    }

    /* ======================================
    |   |   |   Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        position: absolute;
        left: 50%;
        bottom: 3%;
        color: #fff;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-left: -16px;
        z-index: 1;
        visibility: visible;
    }

    #arrow-down:hover,
    #arrow-down:focus {
        color: #fff;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -260px;
        height: 900px;
        margin-bottom: -800px;
    }

    #about1_image .front {
        position: relative;
        top: 110px;
        left: 5px;
        width: 400px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -300px;
        left: 5px;
        font-size: 30px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 40px;
    }

    #about1_text p {
        position: relative;
        top: -20px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
        font-size: 14px;
        line-height: 30px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -20px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about1_text .about_btn a {
        font-size: 14px;
    }

    /*Stats*/
    #stats {
        position: relative;
        top: 550px;
        height: 1550px;
    }

    #stats .content-box-md {
        height: 900px;
    }

    #stats .first_stats {
        height: 100px;
        width: 290px;
        top: -20px;
        left: 120px;
        padding: 20px;
    }

    #stats .second_stats {
        height: 100px;
        width: 290px;
        left: 120px;
        top: 100px;
        padding: 20px;
    }

    #stats .third_stats {
        height: 100px;
        width: 290px;
        left: 120px;
        top: 220px;
        padding: 20px;
    }

    #stats .vertical-heading h2 {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    
    #stats .vertical-heading p {
        font-size: 15px;
        line-height: 20px;
    }

    .stats-item i {
        font-size: 30px;
    }
    
    .stats-item h3 {
        font-size: 30px;
    }
    
    .stats-item p {
        font-size: 15px;
    }     

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 900px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: 90px;
        left: 5px;
        z-index: 1;
        width: 400px;
    }

    #about2_text h2 {
        position: relative;
        top: -300px;
        left: 5px;
        font-size: 30px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: -20px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 450px;
        font-size: 14px;
        line-height: 30px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -20px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about2_text .about_btn a {
        font-size: 14px;
    }

    /*Contact*/
    #contact {
        height: 470px;
    }

    .contact_logo {
        position: relative;
        width: 190px;
        top: -20px;
        left: -15px;
    }
    
    .office {
        position: relative;
        top: 5px;
        left: -5px;
    }

    .office-details {
        font-size: 14px;
        line-height: 25px;
        width: 470px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -10px;
        font-size: 12px;
        width: 350px;
    }
    
    .footer_icons {
        position: relative;
        top: -60px;
        left:  -320px;
        font-size: 20px;
        text-align: right;
    }

    .btn-back-to-top {
        font-size: 18px;
        z-index: 1;
    }

}

/* Extra small Device - Large mobile (Portrait phones and Smaller devices) */
@media (min-width: 413px) and (max-width: 480px) {

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 360px;
        top: 5px;
        font-size: 25px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 35px;
        position: absolute;
        top: -2px;
        right: 13px;
    }

    .home-screen h1 {
        width: 420px;
    }

    .home-screen p {
        position: relative;
        top: 610px;
        width: 400px;
    }

    /*===================================
    |  |  About Energy company
    ====================================*/

    #about1_image .front {
        width: 380px;
    }    

    #about1_text p {
        width: 380px;
    }

    /*Stats*/
    #stats .first_stats {
        left: 80px;
    }

    #stats .second_stats {
        left: 80px;
    }

    #stats .third_stats {
        left: 80px;
    }

    /*======About section 2 which is MILESTONE below stats====*/

    #about2_image .front {
        width: 380px;
    }

    #about2_text p {
        width: 380px;
    }
    
    /*Contact*/
    #contact {
        height: 440px;
    }

    .contact_logo {
        position: relative;
        width: 190px;
        top: -70px;
        left: -15px;
    }
    
    .office {
        position: relative;
        top: -40px;
        left: -5px;
    }

    .office-details {
        font-size: 14px;
        line-height: 25px;
        width: 390px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -10px;
        font-size: 12px;
        width: 350px;
    }
    
    .footer_icons {
        position: relative;
        top: -60px;
        left:  -280px;
        font-size: 20px;
        text-align: right;
    }

    .btn-back-to-top {
        font-size: 18px;
        z-index: 1;
    }

}

/* Extra small Device - Medium mobile (Portrait phones and Smaller devices) */
@media (min-width: 346px) and (max-width: 412px) {

/*Mobile Menu button display*/
#mobile-nav-open-btn {
    display: block;
    left: 320px;
    top: 10px;
    font-size: 25px;
    color: #000038
}

#mobile-nav-close-btn {
    font-family: "Plus Jakarta Sans", "Open Sans";
    font-size: 35px;
    position: absolute;
    top: -2px;
    right: 13px;
}

#mobile-nav a {
    font-size: 13px;
}

/*Home section*/
.home-screen h1 {
    width: 360px;
}

.home-screen p {
    width: 330px;
}

/*===================================
    |  |  About Energy company
    ====================================*/

    #about1_image .front {
        width: 310px;
    }    

    #about1_text h2 {
        position: relative;
        top: -250px;
    }

    #about1_text p {
        width: 310px;
    }

    /*Stats*/
    #stats .first_stats {
        left: 40px;
    }

    #stats .second_stats {
        left: 40px;
    }

    #stats .third_stats {
        left: 40px;
    }

    /*======About section 2 which is MILESTONE below stats====*/

    #about2_image .front {
        width: 310px;
    }

    #about2_text h2 {
        position: relative;
        top: -250px;
    }

    #about2_text p {
        position: relative;
        top: -5px;
        width: 310px;
    }

    #about2_text .about_btn {
        position: relative;
        top: -10px;
    }

    /*Contact*/
    #contact {
        height: 440px;
    }

    .contact_logo {
        position: relative;
        width: 190px;
        top: -90px;
        left: -10px;
    }

    .office {
        position: relative;
        top: -70px;
        left: -5px;
    }

    .office-details {
        line-height: 25px;
        width: 330px;
        text-align: justify;
    }

    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -10px;
        font-size: 12px;
        width: 350px;
    }

    .footer_icons {
        position: relative;
        top: -60px;
        left:  -210px;
        font-size: 20px;
        text-align: right;
    }

    .btn-back-to-top {
        font-size: 18px;
        z-index: 1;
    }

}

/* Extra small Device (Landscape phones and Portrait Tablets) */
@media (max-width: 345px) {

    /*Navigation bar*/
    .navbar-brand {
        padding: 10px 10px;
    }

    .navbar-brand img {
        position: relative;
        top: -5px;
        left: -15px;
        width: 120px;
    }

    /*Hide Navigation menu for smaller devices to allow Mobile menu drop down button*/
    .navbar-nav {
        display: none;
    }

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 300px;
        top: 5px;
        font-size: 25px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 35px;
        position: absolute;
        top: -2px;
        right: 13px;
    }

    #mobile-nav a {
        font-size: 13px;
    }

    /*Navigation bar*/
    .navbar {
        padding: 5px 0;
    }

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: 20px;
        left: 720px;
        text-decoration: none;
    }  

    /*Home section*/
    #home {
        height: 100%;
        width: 100%;
        margin-bottom: 300px;
    }

    #background_image img {
        /* display: none; */
        visibility: hidden;
    }

    #background_image{
        background-image: url('../img/home_page/main_page_photo_small.jpg');
        height: 100%;
        width: 100%;
    }

    .home-screen h1 {
        position: relative;
        top: 580px;
        left: 175px;
        font-size: 30px;
        line-height: 40px;
        width: 350px;
        font-weight: 900;
    }

    .home-screen p {
        position: relative;
        top: 520px;
        left: 175px;
        font-size: 13px;
        line-height: 25px;
        width: 330px;
        text-align: justify;
    }

    /* ======================================
    |   |   |   Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        position: absolute;
        left: 50%;
        bottom: 3%;
        color: #fff;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-left: -16px;
        z-index: 1;
        visibility: visible;
    }

    #arrow-down:hover,
    #arrow-down:focus {
        color: #fff;
    }
    /*Arrow down ends here*/

    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -260px;
        height: 900px;
        margin-bottom: -800px;
    }

    #about1_image .front {
        position: relative;
        top: 110px;
        left: 5px;
        width: 310px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -260px;
        left: 5px;
        font-size: 30px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 40px;
    }

    #about1_text p {
        position: relative;
        top: -20px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 310px;
        font-size: 13px;
        line-height: 30px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -20px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about1_text .about_btn a {
        font-size: 13px;
    }

    /*Stats*/
    #stats {
        position: relative;
        top: 550px;
        height: 1550px;
    }

    #stats .content-box-md {
        height: 900px;
    }

    #stats .first_stats {
        height: 100px;
        width: 260px;
        top: -20px;
        left: 40px;
        padding: 20px;
    }

    #stats .second_stats {
        height: 100px;
        width: 260px;
        left: 40px;
        top: 80px;
        padding: 20px;
    }

    #stats .third_stats {
        height: 100px;
        width: 260px;
        left: 40px;
        top: 180px;
        padding: 20px;
    }

    #stats .vertical-heading h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    
    #stats .vertical-heading p {
        font-size: 13px;
        line-height: 20px;
    }

    .stats-item i {
        font-size: 25px;
    }
    
    .stats-item h3 {
        font-size: 25px;
    }
    
    .stats-item p {
        font-size: 12px;
    }    

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 900px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: 90px;
        left: 5px;
        z-index: 1;
        width: 310px;
    }

    #about2_text h2 {
        position: relative;
        top: -260px;
        left: 5px;
        font-size: 30px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: 10px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 310px;
        font-size: 13px;
        line-height: 30px;
    }

    #about2_text .about_btn {
        position: relative;
        top: 10px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about2_text .about_btn a {
        font-size: 13px;
    }

    /*Contact*/
    #contact {
        height: 470px;
    }

    .contact_logo {
        position: relative;
        width: 190px;
        top: -60px;
        left: -15px;
    }
    
    .office {
        position: relative;
        top: -40px;
        left: -5px;
    }

    .office-details {
        font-size: 13px;
        line-height: 25px;
        width: 320px;
        text-align: justify;
    }
    
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -5px;
        font-size: 12px;
        width: 350px;
    }
    
    .footer_icons {
        position: relative;
        top: -60px;
        left:  -200px;
        font-size: 20px;
        text-align: right;
    }

    .btn-back-to-top {
        font-size: 18px;
        z-index: 1;
    }

}

/* Extra small Device (Landscape phones and Portrait Tablets) */
@media (max-width: 320px) {

    /*Navigation bar*/
    .navbar-brand {
        padding: 10px 10px;
    }

    .navbar-brand img {
        position: relative;
        top: -5px;
        left: -15px;
        width: 120px;
    }

    /*Hide Navigation menu for smaller devices to allow Mobile menu drop down button*/
    .navbar-nav {
        display: none;
    }

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
        left: 300px;
        top: 5px;
        font-size: 25px;
        color: #000038
    }

    #mobile-nav-close-btn {
        font-family: "Plus Jakarta Sans", "Open Sans";
        font-size: 35px;
        position: absolute;
        top: -2px;
        right: 13px;
    }

    #mobile-nav a {
        font-size: 13px;
    }

    /*Navigation bar*/
    .navbar {
        padding: 5px 0;
    }

    /*Below is the "Reach Us! section" at the navigation bar css*/
    .get_touch_btn a {
        position: relative;
        top: 20px;
        left: 720px;
        text-decoration: none;
    }  

    /*Home section*/
    #home {
        height: 100%;
        width: 100%;
        margin-bottom: 300px;
    }

    #background_image img {
        /* display: none; */
        visibility: hidden;
    }

    #background_image{
        background-image: url('../img/home_page/main_page_photo_small.jpg');
        height: 100%;
        width: 100%;
    }

    .home-screen h1 {
        position: relative;
        top: 580px;
        left: 175px;
        font-size: 30px;
        line-height: 40px;
        width: 350px;
        font-weight: 900;
    }

    .home-screen p {
        position: relative;
        top: 520px;
        left: 175px;
        font-size: 13px;
        line-height: 25px;
        width: 330px;
        text-align: justify;
    }

    /* ======================================
    |   |   |   Arrow down which displays only from this mobile view
    ========================================= */
    #arrow-down {
        position: absolute;
        left: 50%;
        bottom: 3%;
        color: #fff;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-left: -16px;
        z-index: 1;
        visibility: visible;
    }

    #arrow-down:hover,
    #arrow-down:focus {
        color: #fff;
    }
    /*Arrow down ends here*/


    /*===================================
    |  |  About Energy company
    ====================================*/
    #about1 {
        position: relative;
        top: -260px;
        height: 900px;
        margin-bottom: -800px;
    }

    #about1_image .front {
        position: relative;
        top: 110px;
        left: 5px;
        width: 310px;
        z-index: 1;
    }

    #about1_text h2 {
        position: relative;
        top: -260px;
        left: 5px;
        font-size: 30px;
        line-height: 40px;
    }

    #about1_text p span {
        position: relative;
        top: 40px;
    }

    #about1_text p {
        position: relative;
        top: -20px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 310px;
        font-size: 13px;
        line-height: 30px;
    }

    #about1_text .about_btn {
        position: relative;
        top: -20px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about1_text .about_btn a {
        font-size: 13px;
    }

    /*Stats*/
    #stats {
        position: relative;
        top: 550px;
        height: 1490px;
    }

    #stats .first_stats {
        height: 100px;
        width: 260px;
        top: -20px;
        left: 40px;
        padding: 20px;
    }

    #stats .second_stats {
        height: 100px;
        width: 260px;
        left: 40px;
        top: 80px;
        padding: 20px;
    }

    #stats .third_stats {
        height: 100px;
        width: 260px;
        left: 40px;
        top: 180px;
        padding: 20px;
    }

    #stats .vertical-heading h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    
    #stats .vertical-heading p {
        font-size: 13px;
        line-height: 20px;
    }

    .stats-item i {
        font-size: 25px;
    }
    
    .stats-item h3 {
        font-size: 25px;
    }
    
    .stats-item p {
        font-size: 12px;
    }    

    /*======About section 2 which is MILESTONE below stats====*/
    #about2 {
        position: relative;
        top: -100px;
        height: 900px;
        margin-bottom: -100px;
    }

    #about2_image .front {
        position: relative;
        top: 90px;
        left: 5px;
        z-index: 1;
        width: 310px;
    }

    #about2_text h2 {
        position: relative;
        top: -260px;
        left: 5px;
        font-size: 30px;
        padding-bottom: 0;
    }

    #about2_text p span {
        position: relative;
        top: 40px;
    }

    #about2_text p {
        position: relative;
        top: 10px;
        left: 5px;
        padding-bottom: 10px;
        text-align: justify;
        width: 310px;
        font-size: 13px;
        line-height: 30px;
    }

    #about2_text .about_btn {
        position: relative;
        top: 10px;
        left: 5px;
        margin-top: 30px;
        text-decoration: none;
    }

    #about2_text .about_btn a {
        font-size: 13px;
    }



    /*Contact*/
    #contact {
        height: 470px;
    }

    .contact_logo {
        position: relative;
        width: 190px;
        top: -60px;
        left: -15px;
    }
    
    .office {
        position: relative;
        top: -40px;
        left: -5px;
    }

    .office-details {
        font-size: 13px;
        line-height: 25px;
        width: 320px;
        text-align: justify;
    }
        
    /*Footer*/
    footer {
        padding: 5px;
    }

    footer p {
        position: relative;
        top: 15px;
        left: -10px;
        font-size: 12px;
        width: 350px;
    }
    
    .footer_icons {
        position: relative;
        top: -60px;
        left:  -200px;
        font-size: 20px;
        text-align: right;
    }

    .btn-back-to-top {
        font-size: 18px;
        z-index: 1;
    }
}
